# Plugins
gems:
  - jekyll-sitemap
  - jekyll-mentions
  - jekyll-redirect-from
  - jemoji

# Conversion
# markdown: redcarpet
# highlighter: pygments
excerpt_separator: "\n\n\n"

# Outputting
permalink: "/:title/"
paginate_path: "/page/:num"
paginate: 5
timezone: America/Sao_Paulo

# Markdown Processors
kramdown:
  input: GFM

# Site settings
title: "Blog - Lucas Mahle"
description: >
  A melhor forma de aprender, é na prática, e esse blog foi criado com esse intuito.
  Além de ser mais uma fonte de estudo para outras pessoas, eu tenho a chance de
  contribuir para a comunidade de desenvolvimento.
  Meu nome é Lucas Mahle, tenho 19 anos e sou de Santa Catarina
logo: http://gravatar.com/avatar/db32ce19bc4e961616daef6d118ef7b0?s=120
cover: "/assets/images/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg"
url: "http://lucasmahle.com.br"

# Default author
author:
  name: Lucas Mahle
  image: http://gravatar.com/avatar/db32ce19bc4e961616daef6d118ef7b0?s=120

# social icons and sharing options
social:
  - icon: twitter
    url:  https://twitter.com/_lucasmahle
    desc: Follow me on twitter
    share_url: http://twitter.com/share
    share_title: "?text="
    share_link: "&amp;url="

  - icon: github
    url:  https://github.com/lucasmahle
    desc: Fork me on github
    share_url: 
    share_title: 
    share_link: 

  - icon: facebook
    url:  https://fb.com/lucasmahle
    desc: Follow me on facebook
    share_url: https://www.facebook.com/sharer.php
    share_title: ?t=
    share_link: "&amp;u="

  - icon: linkedin
    url:  https://br.linkedin.com/in/lucasmahle
    desc: See my profile on linkedin
    share_url: https://www.linkedin.com/shareArticle?mini=true
    share_title: "&amp;title="
    share_link: "&amp;url="




disqus_shortname: 'lucasmahle'
ga_analytics: UA-62042091-2