# Site settings
title: "Blog - Lucas Mahle"
subtitle: "Apenas mais um blog para a comunidade"
author: Lucas Mahle
description: >
  A melhor forma de aprender, é na prática, e esse blog foi criado com esse intuito.
  Além de ser mais uma fonte de estudo para outras pessoas, eu tenho a chance de
  contribuir para a comunidade de desenvolvimento.
  Meu nome é Lucas Mahle, tenho 19 anos e sou de Santa Catarina
baseurl: "" # dont use slash ("/blog/" => "blog")
url: "http://lucasmahle.com.br" 

# Layout options
copyright: ©Lucas Mahle - 2015
email: lucassmahle@gmail.com
facebook_username: lucasmahle
github_username:  lucasmahle
twitter_username: _lucasmahle
linkedin_username:  lucasmahle
disqus_shortname: lucasmahle
cover: "assets/header_image.jpg"

# Share options
shareTwitter:  true
shareFacebook: true
shareGoogle:   true
shareLinkedin: true

# Filtering Content
paginate: 10
excerpt_separator: "<!--more-->"

# Outputting
permalink:     "post/:title/"
paginate_path: "page/:num/"

# html minify
#compress_html:
#  clippings: all
#  comments: all
#  endings: []
#  profile: false


# For external links add external: true
links:
  - title: Início
    url: 
  - title: Categorias
    url: categorias
  - title: Tags
    url: tags
  - title: Sobre mim
    url: sobre

# exclude my node related stuff
exclude: ['package.json', 'node_modules', '_src']