---
layout: page
title: "Tags"
permalink: /tags/index.html
image: /assets/header_image.jpg
---

<div class="tags-shelf">
	{% assign tags_list = site.tags %}
	{% if tags_list.first[0] == null %}
		{% for tag in tags_list %}
			<a href="#{{ tag }}" class="tag-btn" title="Clique para ver post da categoria {{ tag }}">{{ tag }}</a>
		{% endfor %}
	{% else %}
		{% for tag in tags_list %}
			<a href="#{{ tag[0] }}" class="tag-btn" title="Clique para ver post da categoria {{ tag[0] }}">{{ tag[0] }}</a>
		{% endfor %}
	{% endif %}
	{% assign tags_list = nil %}
</div>

<div class="tag-list">
	{% for tag in site.tags  %}
		<div class="tag-block">
			<h2 class="tag-title" title="Tag {{ tag[0] }}" id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
			
			<ul class="tags">
				{% assign pages_list = tag[1] %}
				
				{% for post in pages_list reversed %}
					{% if post.title != null and (group == null or group == post.group) %}
						<li>
							<a href="{{ site.url }}{{ post.url }}">{{ post.title }}
								<span class="entry-date">
									<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
								</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
				
				{% assign pages_list = nil %}
				{% assign group = nil %}
			</ul>
		</div>
	{% endfor %}
</div>