.blog-navbar {
    text-align: left;
       
    .logo {
        margin-top: 10px;
        margin-bottom: 5px;
        float: left;
        height: 30px;
    }
    .navbar-itens {
        display: inline-block;
        float: right;
    }
    .navbar-collapse {
        width: 600px;
        margin: 0 auto;
    }
}
body { 
    padding-top: 75px; 
    padding-bottom: 15px;
}