---
layout: default
---
<section class="page-view">
	
	{% if page.image %}
		<div class="post-header-container has-cover" style="background-image: url({{ page.image | prepend: site.baseurl }});">
			<div class="scrim has-cover">
				<header class="site-header">
					<h1 class="title">{{ page.title }}</h1>
					
				</header>
			</div>
		</div>
	{% endif %}

	<div class="container">
		{% if page.image == null %}
			<header class="post-header">
				<div class="no-cover container">
					<h1 class="post-title">{{ page.title }}</h1>
					<span class="posted-on text-muted">{% include date-format.html %}</span>

					<span class="page-divider">
						<span class="one"></span>
						<span class="two"></span>
					</span>
				</div>
			</header>
		{% endif %}

		<article class="post-content">
			<section class="typography">
				{{ content }}
			</section>
		</article>
	</div>

</section>
