---
layout: default
---
<section class="post">

	<!-- <header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	</header> -->
	
	{% if page.image %}
		<div class="site-header-container has-cover" style="background-image: url({{ page.image | prepend: site.baseurl }});">
			<div class="scrim has-cover">
				<header class="site-header">
					<h1 class="title">{{ page.title }}</h1>
					
				</header>
			</div>
		</div>
	{% endif %}

	<div class="container">
		<article class="post-contenter">
			{{ content }}
		</article>

		<footer class="comments"></footer>
	</div>

</section>
