---
layout: default
---
<section class="post-view">
	
	{% if page.image %}
		<div class="post-header-container has-cover" style="background-image: url({{ page.image | prepend: site.baseurl }});">
			<div class="scrim has-cover">
				<header class="site-header">
					<h1 class="title">{{ page.title }}</h1>
					
				</header>
			</div>
		</div>
	{% endif %}

	<div class="container">
		{% if page.image == null %}
			<header class="post-header">
				<div class="no-cover container">
					<h1 class="post-title">{{ page.title }}</h1>
					<span class="posted-on">{% include date-format.html %}</span>

					<span class="page-divider">
						<span class="one"></span>
						<span class="two"></span>
					</span>
				</div>
			</header>
		{% endif %}

		<article class="post-content {% if page.image %}has-cover{% endif %}">
			<section class="typography">
				{{ content }}
			</section>

			<footer class="entry-footer">
				<div class="entry-meta">
					<span class="author vcard">
						Por: <a class="url" href="{{ '/sobre' | preprend: site.baseurl }}">{{ site.author }}</a>
					</span>
				</div>

				{% if page.category %}
					<div class="entry-meta">
						<span class="category">
							Categoria: <a class="url" href="{{ '/cateorias/#' | preprend: site.baseurl }}{{ page.category }}">{{ page.category }}</a>
						</span>
					</div>
				{% endif %}
					
				{% if page.tags != null %}
					<div class="entry-meta">
						Em: 
						<ul class="tag-list">
							{% for tag in page.tags %}
								<li>
									<a href="{{ site.baseurl }}/tags/#{{tag}}">{{ tag }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				
				<div class="entry-meta share-buttons">
					<span>Compartilhe:</span>

					
					<!-- Twitter -->
					<a rel="nofollow" class="fa fa-twitter share-link" href="https://twitter.com/intent/tweet?text=&quot;{{ post.twitter_text }}&quot;%20{{ site.url | replace:'index.html','' }}{{ post.url }}%20via%20&#64;{{ site.twitter_username }}&hashtags={% for tag in post.tags %}{{tag}},{% endfor %}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Compartilhe no Twitter"></a>

					<!-- Facebook -->
					<a rel="nofollow" class="fa fa-facebook share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | replace:'index.html','' }}{{ post.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Compartilhe no Facebook"></a>

					<!-- Google+ -->
					<a rel="nofollow" class="fa fa-google-plus share-link" href="https://plus.google.com/share?url={{ site.url | replace:'index.html','' }}{{ post.url }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Compartilhe no Google+"></a>
						
				</div><!--.share-buttons-->


			</footer><!-- .entry-footer -->
		</article>

		<footer class="post-comments">
			
		</footer>
	</div>

</section>
